.pet-list > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pet-list > ul > li {
    margin-right: 16px;
    margin-bottom: 16px;
}

.pet-list > ul > li:nth-child(4n) {
    margin-right: 0;
}